*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

menu{
    padding: 20px;
    background-color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.background{
    background-image: url("image/home2.jpg");
    background-size: cover;
    padding: 20%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}